*.class
*.log

/.idea
/.idea_modules
/.classpath
/.project

# sbt specific
.cache
.history
.lib/
.circleci/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/.bloop/
project/project/
_site/

# sublime
*.sublime-workspace
*.sublime-project

.DS_Store
